@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 6% 12%;
    --foreground: 210 11% 96%;
    --card: 223 7% 20%;
    --card-foreground: 210 11% 96%;
    --popover: 223 7% 20%;
    --popover-foreground: 210 11% 96%;
    --primary: 235 86% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 6% 16%;
    --secondary-foreground: 210 11% 96%;
    --muted: 218 5% 30%;
    --muted-foreground: 218 6% 63%;
    --accent: 145 63% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 358 68% 54%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 6% 18%;
    --input: 220 6% 22%;
    --ring: 235 86% 65%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer base {
  [data-debug-wrapper='true'] {
    display: contents !important;
  }
  [data-debug-wrapper='true'] > * {
    margin-left: inherit;
    margin-right: inherit;
    margin-top: inherit;
    margin-bottom: inherit;
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    column-gap: inherit;
    row-gap: inherit;
    gap: inherit;
    border-left-width: inherit;
    border-right-width: inherit;
    border-top-width: inherit;
    border-bottom-width: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
    border-top-style: inherit;
    border-bottom-style: inherit;
    border-left-color: inherit;
    border-right-color: inherit;
    border-top-color: inherit;
    border-bottom-color: inherit;
  }
}
